<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InSimSniffer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InSimSniffer.Properties.Settings>
            <setting name="WindowMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="HostAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="InSimPort" serializeAs="String">
                <value>29999</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="EnableMciUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNlpUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseToNotificationTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMinimisedMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LfsExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoClearPackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableConUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableObhUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHlvUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAxmLoadUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAxmEditUpdates" serializeAs="String">
                <value>False</value>
            </setting>
        </InSimSniffer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
